language: go

sudo: required

go:
- "1.10.x"

before_install:
- go version

install:
- go get "github.com/vvval/go-metadata-scanner"
- go get -u "github.com/spf13/cobra"
- go get -u "github.com/spiral/roadrunner/cmd/rr/utils"

script:
- go test ./util -race -v -coverprofile=util.txt -covermode=atomic
- go test ./util/rand -race -v -coverprofile=utilRand.txt -covermode=atomic
- go test ./util/scan -race -v -coverprofile=utilScan.txt -covermode=atomic
- go test ./etool -race -v -coverprofile=etool.txt -covermode=atomic
- go test ./vars -race -v -coverprofile=vars.txt -covermode=atomic
- go test ./vars/metadata -race -v -coverprofile=varsMetadata.txt -covermode=atomic

after_success:
- bash <(curl -s https://codecov.io/bash) -f util.txt
- bash <(curl -s https://codecov.io/bash) -f utilScan.txt
- bash <(curl -s https://codecov.io/bash) -f etool.txt
- bash <(curl -s https://codecov.io/bash) -f vars.txt
- bash <(curl -s https://codecov.io/bash) -f varsMetadata.txt